h1 {
    font-size: clamp(1rem, 0.6607rem + 1.6964vw, 2.1875rem);
    padding-left: 20px;

}

h2 {
    text-align: center;
    margin-top: 0;
}

h3 {
    margin-top: -10px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
    font-weight: 600;
    padding-left: 120px;
 }

 @media (max-width: 700px) {
    a {
       
    }
 }


 span {
    color: gold;
    padding-left: 20px;
}

p {
    cursor: pointer;
}

p:hover {
    font-size: 30px;
    color: gold;
}

ins {
    text-decoration: none;
}