html {
    background-color: black;
    color: white;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(169, 2, 2, 0.700);
    height: 100px;
    box-shadow: 0px 0px 20px 1px;
}

.restaurant_image {
    display: flex;
    align-items: center;
}

.logo_restaurant {
    display: flex;
}

.logo_image {
    padding-left: 100px;
}

.content {
    width: calc(100% - 300px);
}

footer {
    height: 100px;
    background-color: rgba(169, 2, 2, 0.700);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 1px;
}

.menu_text {
    margin-top: -8px;
    padding-left: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 2, 2, 0.700);
    color: rgb(213, 173, 173);
    
}

.menu_steaks {
    border: solid 1px;
    box-shadow: 1px 3px 12px 0px;
    padding-left: 20px;
}

.steak_name {
    display: flex;
    justify-content: space-between;
}

.line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 20px;
}

.menus_price {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    
}

#warenkorb_content {
    height: 300px;
    overflow-y: auto;

}

.result_content {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
}

.btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn:active {
    scale: 0.92;
  }
  
  .btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

  .pay-button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.250);
}

.d_none {
    display: none;
}

.dialog-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
   
}

.dialog-box {
    width: clamp(20rem, 70vw + 11.25rem, 37.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #482e2e;
    padding: 15px;
    border-radius: 10px;
    margin-left: 12px;
    margin-right: 12px;

}

/* From Uiverse.io by Kabak */ 
.btn1 {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  }
  
  .btn1:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .btn1:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
  